.record_comment_text > blockquote > p {
    font-size:95%;
}


.record, .iframe_message{
    margin: 0 auto;
    text-align:left;
    
}

.record_actionbuttons{
    margin-right:0px;
    margin-top:-15px;
    margin-bottom:10px;
    text-align:right;
}

.record_image{
    margin: 0 auto;
    text-align:center;
}

.useractionbuttons{
    margin-right:0px;
    text-align:right;
}

.toprightactionbuttons{
    
    margin-top: -10px;
    margin-right: 20px;
    text-align: right;
}

textarea#description{
    height: 400px;

}

#backtotop{
    position: fixed;
    right: 5px;
    bottom: 30px;
    display: none;
}
