{% extends 'templates/base.html'%}
{% block TITLE %}{{ page_title }}{% endblock %}
{% block ADDITIONAL_CSS %}
    <link rel="stylesheet" type="text/css" href="/css/zmap_site.css" />
{%endblock%}
{% block SUBTITLE %}{{ page_title }}{%endblock%}
{% block MAINCONTENT %}
<div id="requestor_stats"></div>
<div id="stats_map"></div>
<div id="sg_requestor_stats"></div>
<div id="sg_stats_map"></div>
<div id="requestor_count"></div>
<div id="map_canvas"></div>
<div id="requestors"></div>
{% endblock %}
{% block ADDTIONAL_SCRIPTS %}
<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCwlyJ8AFuOv24ANB0vYT4xVCcGzfXpons&sensor=false"></script>
<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["geochart"]}]}'></script>
<script src="/js/zmap.js?v=1.0.0" type="text/javascript"></script>
{% endblock %}
